.contact-us-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:200px;
}
.contact-info{
    background: white;
    border-radius: 2px;
    padding:20px
}
.contact-form{
    background: white;
    border-radius: 2px;
    padding:20px
}
.headingpadding{
    padding-right: 100px;;
}

.contact-info,
.contact-form {
    width: 45%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    gap:20px;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
